<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>NodeJS System</title>
    <style>
        .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        }
        @media (max-width: 768px) {
        .container {
            flex-direction: column;
            justify-content: center;
            height: auto;
        }
        }
    </style>
  </head>
  <body>
    <div class="container">
        <a class="btn btn-primary" style="margin: 0 10px;" href="/login">Login</a>
        <a class="btn btn-primary" href="/register">Register</a>

      </div>
      
  </body>
</html>
